.space {
    margin-left: 420px;
}

.image {
    width: 250px; 
    height: 250px;
}

.site-background {
    background: rgb(252, 184, 227);
}
    
.header {
    color: purple;
}

.subheader {
    color: rgb(182, 103, 219);
    font-style: italic;
}

.navbar {
    background: rgb(247, 77, 185);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-option {
    color: rgb(79, 41, 97);
    margin-right: 5px;
}