.header {
    color: palevioletred;
}

.subheader {
    color: pink;
    font-style: italic;
}

.navbar {
    background: purple;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-option {
    color: rgb(79, 41, 97);
    margin-right: 5px;
}